[Unit]
Description=Starts the backup process
After=multi-user.target

[Service]
ExecStart=/home/pi/backup-py/backup_ctrl.py
WorkingDirectory=/home/pi/backup-py

StandardOutput=inherit
StandardError=inherit

Restart=always

User=pi

[Install]

WantedBy=multi-user.target
